instabboy/data/raw/*/*.json
instabboy/data/raw/*/*.jpg
instabboy/data/raw/*/*.json.xz
instabboy/data/raw/*/*.txt
instabboy/args.txt
instabboy/bboys.txt

**/InstaPy
**/instagram-profilecrawl
**/instapy-quickstart
**/latest_logs
**/notebook
**/saved_cookies

**/data
**/*.txt
**/.venv
